body{
    background-color: #1f1f1f;
    color: #f1f1f1;


}
h1{
    color: #f1f1f1;
}
.search{
    background-color: green;
    color: #f1f1f1;
}
.container-fluid{
    background-color: orange;
    
}
.navbar-brand{
    transition: 0.1s;
}
.navbar-brand:hover{
    font-weight: bold
}

.navbar-collapse{
    
}
.navbar-toggler{
    background-color: orange;
    border: none;

}
.navbar-toggler-icon{
    padding: 1em;

}
.nav-link{
    transition: 0.1s;
}
.nav-link:hover{
    font-weight: bold;
}
.sign-upp{
    transition: 0.1s;

}
.sign-upp:hover{
    background-color: orange;
}
.sign-inn{
    transition: 0.1s;
}
.sign-inn:hover{
    background-color: rgb(255, 166, 0);
}
.sign-outt{
    transition: 0.1s;

}
.sign-outt:hover{
    background-color: orange;
}

.hh{
    background-color: orange !important; 
    
}
.card-body{
background-color: #ffe3bf;
}
.card-bodyy{
background-color: #1f1f1f;
border-radius: 20px;
display: flex;
justify-content: center;
}
.cardyy{
    background-color: #1f1f1f;
border-radius: 20px;
display: flex;
justify-content: center;
}
.card-body-h{
    background-color: #ffe3bf;
}